{% extends 'library/base.html' %}

{% block content %}
<!-- Section Title -->
	<div class="col-xs-12">
		<div class="section-title">
			<h1>Polls</h1>
			<p>Polling for ...</p>
			<a href="/" class="title-link"><i class="ti-home"></i></a>
		</div>
	</div><!-- Section Title End -->

<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>
{% endblock %}
