{% extends 'library/base.html' %}

{% block content %}
<!-- Section Title -->
	<div class="col-xs-12">
		<div class="section-title">
			<h1>Polls</h1>
			<p>Polling for ...</p>
			<a href="/" class="title-link"><i class="ti-home"></i></a>
		</div>
	</div><!-- Section Title End -->
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% endblock content %}
